<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1 th:text="'Привет, ' + ${user.username} + '!'">...</h1>
<br>
<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Role</th>
    </tr>

    <tr>
        <td th:utext="${user.id}">...</td>
        <td th:utext="${user.username}">...</td>
        <td th:utext="${user.password}">...</td>
        <td th:utext="${user.email}">...</td>
        <td th:text="${#strings.setJoin(user.getAuthorities, ',')}">...</td>
    </tr>

</table>
<br>

<form th:action="@{/logout}">
    <input type="submit" value="LOGOUT"/>
</form>
</body>
</html>


